h1 {
    color: purple;
    font-size: 60px;
}

#bear-photo {
    width: 250px;
}

.special {
    color: teal;
    font-size: 30px;
    border: 1px solid teal;
}

input[type="password"] {
    width: 100px;
    height: 50px;
}

.todo {
    font-size: 30px;
    color: olive;
}

.done {
    color: gray;
    text-decoration: line-through;
    opacity: 50%;
}

img {
    width: 200px;
}


/* Annoying Button Demo */
.annoying-button-style{
    position: relative;
    height: 100vh; 
    background-color: #fdff73;
}
.annoyingBtn-style{
    position: absolute;
    top: 10px;
    left: 10px;

    background-color: rgb(238, 149, 15); 
    color: white; 
    font-weight: bold; 
    border: none; 
    padding: 2em 4em;
}

#boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 200px;
    height: 200px;
}


#colors {
    color: rgb(0, 0, 0);
    text-align: center;
}