body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(cyan, purple);
}

.navbar {
    background-color: #37474f;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.right  {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.navlink {
    color: white;
    font-size: 2rem;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    background-color: yellow;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border-radius: 50%;
}